.home {
background-image: url(../../images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
min-height: 90vh
}

.whiteCol{
    color: white;
}
.homeBtn{
    color: #2c0047;
}